/*BASE SKIN*/
#outer .region,
#footer .group,
.post fieldset fieldset,
fieldset fieldset {
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Arupala Grotesk", "Alte Haas Grotesk", Verdana, Helvetica, "Trebuchet MS", "Lucida Sans", Arial, sans-serif, "GNU Unifont";
  overflow-wrap: anywhere;
  word-break: normal;
}

body,
.group,
.group .group,
.region,
.flash,
fieldset,
fieldset fieldset ul,
form dl,
textarea,
#main .verbose legend,
.verbose fieldset,
.notice,
ul.notes,
input,
textarea,
table,
th,
td:hover,
tr:hover,
.symbol .question:hover,
#modal,
.ui-sortable li,
.required .autocomplete,
.autocomplete .notice,
.system .intro,
.comment_error,
.kudos_error,
div.dynamic,
.dynamic form,
#ui-datepicker-div,
.ui-datepicker table {
  background: #131517;
  color: #eee;
  border-color: #131517;
  outline: #111;
  box-shadow: none;
}

form .notice,
form ul.notes {
  box-shadow: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
#header ul.primary,
#outer #footer,
.toggled form background: #131517; #header .primary {
  background: none;
  padding: 10px 0;
  width: 100%;
  box-shadow: none;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  background: #1a1c1e !important;
}

.user.navigation.actions>li {
  margin-top: 0.3em !important;
}

#header .menu,
#small_login {
  border: 1px solid #1f2126;
  box-shadow: none;
  padding: 0;
}

.tags.group,
.more.group {
  margin-top: 0.6em;
}

#header .actions a:hover,
#header .actions a:focus,
#header .dropdown:hover a,
#header .open a,
#header .menu,
#small_login,
.group.listbox,
fieldset fieldset.listbox,
form blockquote.userstuff,
input:focus,
textarea:focus,
li.relationships a,
.group.listbox .index,
.dashboard fieldset fieldset.listbox .index,
#dashboard a:hover,
th,
#dashboard .secondary,
.secondary,
.thread .even,
.system .tweet_list li,
.ui-datepicker tr:hover {
  background: #131517;
}

.userstuff p {
  margin: 1.286em auto;
  padding: 0;
  line-height: 1.5;
}

.tags.commas {
  margin: 1.5em auto;
}

.tweets {
  display: none;
}

#header .dropdown .menu a:hover,
#header .dropdown .menu a:focus,
.splash .favorite li:nth-of-type(odd) a,
.ui-datepicker td:hover,
#tos_prompt .heading,
#tos_prompt [disabled] {
  background: #22262a;
}

#outer,
.javascript,
.statistics .index li:nth-of-type(even),
#tos_prompt,
.announcement input[type="submit"] {
  background: #131517;
}

.filters .submit input {
  border: 1px solid #131517;
  background-color: #131517;
  height: 110%;
  margin: 1em 0;
  min-height: 2.286em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  white-space: normal;
}

#header ul.primary,
#footer,
#dashboard ul,
dl.meta,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
form blockquote.userstuff,
div.comment,
li.comment,
.comment h4.byline {
  background: #131517;
}

.toggled form,
form dl dt,
form.single fieldset,
#inner .module .heading,
.bookmark .status span,
.splash .news li,
.filters .group dt.bookmarker {
  border-color: rgb(167,156,201);
}

.news,
.readings {
  display: none;
}

.work.navigation.actions {
  width: 100%;
}

dl.meta {
  border: none;
}

.splash .news li {
  padding: 1em;
}

fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  padding: 1.643em;
}

li.blurb,
fieldset,
form dl {
  border: none;
}

li.blurb,
.blurb .blurb {
  display: block;
  position: relative;
  clear: left;
  padding: 1em 1.4em;
  overflow: visible;
}

.logged-in .splash>.module {
  width: 100% !important;
}

dl.meta {
  max-width: 75em;
  margin: auto;
  clear: right;
  padding: 2em 1.75em;
  position: relative;
  overflow: hidden;
}

.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form {
  box-shadow: none;
}

#dashboard .current {
  background: #211b31;
}

.actions a:active,
#outer .current,
a.current,
.current a:visited {
  color: #8373B2;
}

span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover {
  background: #211b31;
  border-color: #555;
}

#greeting .menu {
  right: 0;
  border: 1px solid #1f2126;
  box-shadow: none;
}

select {
  background-color: #131517;
  color: #8373B2;
  border: 1px solid #131517;
  min-height: 2.4em;
  border-radius: 0;
}

input:focus,
select:focus,
textarea:focus {
  background: #131517;
}

input,
textarea {
  min-height: 1.8em;
  box-shadow: none;
}

#footer a:hover,
#footer a:focus,
.autocomplete .dropdown ul li:hover,
.autocomplete .dropdown li.selected,
a.tag:hover,
.listbox .heading a.tag:visited:hover {
  color: #a79cc9;
}

.symbol .question,
.qtip-content {
  background: #a79cc9;
  color: #111;
}

.splash .favorite li:nth-of-type(odd) a:hover,
.splash .favorite li:nth-of-type(odd) a:focus {
  background: #a7a7a7;
  color: #111;
}

#header #greeting img,
#header .heading a,
#header .heading a:visited,
#header .user a:hover,
#header .user a:focus,
#header fieldset,
#header form,
#header p,
#dashboard a:hover,
.actions a:hover,
.actions input:hover,
.delete a,
span.delete,
span.unread,
.replied,
span.claimed,
.draggable,
.droppable,
span.requested,
a.work,
.blurb h4 a:link,
.blurb h4 img,
.splash .module h3,
.splash .browse li a:before,
.required,
.error,
.comment_error,
.kudos_error,
a.cloud7,
a.cloud8,
tos_prompt .heading {
  color: #c4bddb;
}

#header .menu li {
  border-bottom: 1px solid #2c2c2c;
  margin: 0;
  text-align: left;
}

#greeting .icon,
#dashboard,
#dashboard.own,
.error,
.comment_error,
.kudos_error,
.LV_invalid,
.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active,
.qtip-content {
  border-color: #a79cc9;
}

#dashboard.own {
  border: none;
}

form.filters dl {
  margin-left: 0;
  margin-right: 0;
}

.filters .expander:focus {
  outline: none;
}

.filters .expander {
  padding: 0.45em 0 0.45em 14px;
}

.filters .group dt.search,
.filters .range dt {
  padding: 1.25em 0 0.4em 0;
}

a.tag {
  border-bottom: 1px dotted !important;
}

a,
a:link,
a.tag,
#header a,
#header a:visited,
#header .primary .open a,
#header .primary .dropdown:hover a,
#header .primary .dropdown a:focus,
#header #search input:focus,
#header #search input:hover,
#dashboard a,
#dashboard span,
#dashboard .current .heading,
.group .heading,
.filters dt a:hover {
  color: #fff;
}

#header .dropdown .menu a {
  padding: .75em .5em .75em;
}

#header #search .text {
  background: #131517 !important;
  border-radius: 0;
  margin: 0.2857em 0.429em;
}

a:visited,
.actions a:visited,
.action a:link,
.action a:visited {
  color: #8373B2;
}

.listbox .heading a:visited {
  margin: 0;
  color: #8373B2;
  padding: 0.25em;
}

span.series .divider {
  color: #999;
}

a:active,
a:focus,
button:focus {
  outline: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
#header .actions a {
  background: transparent;
  border-color: #1a1c1e;
  color: #eee;
  box-shadow: none;
  text-shadow: none;
}

.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus {
  color: #fff;
  border-color: #101214;
  box-shadow: none;
  background-color: #101214;
}

.actions a:active,
.current,
a.current,
.current a:visited {
  color: #8373B2;
  background: #101214;
  border-color: #101214;
  box-shadow: none;
}

.delete a,
span.delete {
  box-shadow: -1px -1px 2px rgba(255,255,255.25);
}

ul.required-tags,
.bookmark .status span,
.blurb .icon {
  opacity: 0.9;
  border: 0;
}

#outer .group .heading,
#header .actions a,
fieldset.listbox .heading {
  color: rgb(167,156,201);
}

.userstuff .heading,
.heading,
.userstuff h2 {
  text-shadow: none;
  color: #fff;
  background: none;
}

#header .actions a,
fieldset fieldset,
.mce-container button,
.filters .expander {
  box-shadow: none;
}

fieldset fieldset.listbox {
  outline: none;
}

form dd.required {
  color: #eee;
}

.mce-container input:focus {
  background: #F3EFEC;
}

.announcement .userstuff a,
.announcement .userstuff a:link,
.announcement .userstuff a:visited:hover {
  color: #fff;
}

a,
a:link,
a:visited:hover {
  color: #fff;
  text-decoration: none;
}

.announcement .userstuff a:visited {
  color: #666;
}

.announcement .userstuff a:hover,
.announcement .userstuff a:focus {
  color: #999;
}

.event.announcement .userstuff a,
.filters .expander {
  color: #eee;
}

.listbox li.blurb {
  box-shadow: none;
  background: #1a1b1f;
}

li.blurb,
fieldset,
form dl {
  border: none;
}

li.blurb,
.blurb .blurb {
  display: block;
  position: relative;
  clear: left;
  padding: 1em 1.4em;
  overflow: visible;
  background: #1a1b1f;
}

/*STATS ICONS*/
.stats a,
.stats a:visited:hover {
  border: none;
  color: #8373b2;
}

.stats a:hover,
.stats a:visited {
  color: #6f6d81;
}

.stats a:visited:hover {
  color: #6f6d81;
}

dl.stats dd,
dl.stats dt,
.meta .stats dl dd {
  margin: 0;
  padding: 0;
}

dl.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  column-gap: 1em;
}

.meta dl.stats {
  justify-content: left;
}

dl.meta.statistics dd {
  padding-left: 4px;
}

dl.stats dd,
dl.statistics dt {
  display: flex;
  align-items: baseline;
}

.stats:not(.skins .stats) dt {
  display: none;
}

.stats:not(.skins .stats) dd::before,
dl.statistics dt::before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 4px;
  transform: translate(0, 1px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0) saturate(100%) invert(51%) sepia(60%) saturate(308%) hue-rotate(214deg) brightness(84%) contrast(89%);
}

.stats dd.language::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/language-01.png");
}

.stats dd.words::before,
dl.statistics dt.words::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/words-01.png");
}

.stats dd.works::before,
.stats dd:has(a[href$=works])::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/works-01.png");
}

.stats dd.chapters::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/chapters-01.png");
}

.stats dd.comments::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/comments-01.png");
}

.stats dd.kudos::before,
dl.statistics dt.kudos::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/kudos-01.png");
}

.stats dd.bookmarks::before,
dl.statistics dt.bookmarks::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/bookmarks-01.png");
}

.stats dd.inspired::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/related-works-01.png");
}

.stats dd.hits::before,
dl.statistics dt.hits::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/hits-01.png");
}

.stats dd.collections::before,
.stats dd:has(a[href$=collections])::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/collection-01.png");
}

.stats dd.published::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/published-01.png");
}

.stats dd.status::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/updated-01.png");
}

.series.meta.group .stats dd:nth-of-type(3)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/complete-01.png");
}

.stats dd.subscriptions::before,
dl.statistics dt.subscriptions::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/subscriptions-01.png");
}

.statistics .stats dd.comments::before,
dl.statistics dt.comment::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/comment-threads-01.png");
}

.stats dd:has(a[href$=fandoms])::before,
.tagset .stats dd:nth-of-type(1)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/fandoms-01.png");
}

.collection.blurb .stats dd:has(a[href$=bookmarks])::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/bookmarked-items-01.png");
}

.stats dd:has(a[href$=requests])::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/promts-01.png");
}

.tagset .stats dd:nth-of-type(2)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/characters-01.png");
}

.tagset .stats dd:nth-of-type(3)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/relationships-01.png");
}

.tagset .stats dd:nth-of-type(4)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/tags-additional-01.png");
}

.tagset .meta .stats dd:nth-of-type(4)::before {
  background-image: url("https://zerafinacss.github.io/ao3/stats-icons/tags-freeform-01.png");
}

dl.stats dd {
  position: relative;
  justify-content: center;
}

.stats dd::after {
  display: none;
  position: absolute;
  top: 2em;
  padding: 0.3em;
  border: 1px solid #555;
  border-radius: 0.25rem;
  background: #2A2A2A;
  color: #EEE;
  font-size: 0.85em;
  line-height: 1;
  text-align: center;
  z-index: 99999;
}

.stats dd:hover::after {
  display: inline-block;
}

.statistics .stats dd:last-of-type::after,
.index .stats dd:last-of-type:has(a[href$=bookmarks])::after,
.stats dd.inspired::after,
.tagset .index .stats dd:last-of-type::after {
  right: 0;
}

.stats dd.language::after {
  content: "Language";
}

.stats dd.words::after {
  content: "Words";
}

.stats dd.works::after,
.stats dd:has(a[href$=works])::after {
  content: "Works";
}

.stats dd.chapters::after {
  content: "Chapters";
}

.stats dd.comments::after {
  content: "Comments";
}

.stats dd.kudos::after {
  content: "Kudos";
}

.stats dd.bookmarks::after {
  content: "Bookmarks";
}

.stats dd.inspired::after {
  content: "Related Works";
}

.stats dd.hits::after {
  content: "Hits";
}

.stats dd.collections::after {
  content: "Collections";
}

.stats dd.published::after {
  content: "Published";
}

.stats dd.status::after {
  content: "Updated";
}

.series.meta.group .stats dd:nth-of-type(3)::after {
  content: "Complete";
}

.stats dd.subscriptions::after {
  content: "Subscriptions";
}

.statistics .stats dd.comments::after {
  content: "Comment Threads";
}

.stats dd:has(a[href$=fandoms])::after,
.tagset .stats dd:nth-of-type(1)::after {
  content: "Fandoms";
}

.tagset .stats dd:nth-of-type(2)::after {
  content: "Characters";
}

.tagset .stats dd:nth-of-type(3)::after {
  content: "Relationships";
}

.tagset .stats dd:nth-of-type(4)::after {
  content: "Additional Tags";
}

.tagset .meta .stats dd:nth-of-type(4)::after {
  content: "Freeforms";
}

.stats dd:has(a[href$=requests])::after {
  content: "Prompts";
}

.collections-index .stats dd:has(a[href$=collections])::after {
  content: "Challenges/Subcollections";
}

.collection.blurb .stats dd:has(a[href$=bookmarks])::after {
  content: "Bookmarked Items";
}

.bookmark .count a {
  color: #574884;
}

/*FLAT BUTTONS*/

button,
.actions a,
.actions a:link,
.action,
input[type="submit"],
.actions a:visited {
  background: #29293d;
}

.actions button,
.actions input,
input[type="submit"],
button,
.current,
.actions label,
actions a {
  background: #29293d;
  border-color: #222;
  color: #eee;
  box-shadow: none;
  text-shadow: none;
}

.actions a,
.actions a:link,
.action,
.action:link,
button,
.current,
.actions label {
  border: none;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.actions input,
input[type="submit"],
textarea {
  border: 1px solid;
  border-color: #3d3d5c;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

input {
  width: 96%;
  border: 1px solid;
  border-color: #3d3d5c;
  background-image: none;
  box-shadow: none;
}

.actions input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
}

form.search input[type="text"] {
  border-top-color: initial;
}

.actions a:hover,
a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
.actions a:hover,
.actions input:hover,
#dashboard a:hover,
.actions a:focus,
.actions input:focus,
#dashboard a:focus,
.actions a:active,
.current,
a.current,
.current a:visited,
#dashboard .current,
.actions a:active,
#outer .current,
#header .current,
a.current,
.current a:visited,
span.unread,
.replied,
span.claimed,
dl.index dd,
.own,
.draft,
.draft .unread,
.child,
.unwrangled,
.unreviewed,
.ui-sortable li:hover {
  background: #211b31;
  border-color: #555;
  box-shadow: none;
}

#header .primary .menu .current {
  border-color: initial;
  box-shadow: none !important;
}

,
button[type="submit"]:hover,
button:hover {
  border-color: initial;
  box-shadow: none !important;
}

#header .primary,
.group.listbox,
fieldset fieldset.listbox,
#main li.blurb,
.wrapper,
#dashboard .secondary,
.secondary,
form blockquote.userstuff,
.thread .comment,
.toggled form,
#header .primary,
.listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
span.question,
fieldset,
form dl,
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff,
.delete a,
span.delete,
#header ul.primary {
  box-shadow: none;
}

.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus,
.notice,
.comment_notice,
ul.notes,
.caution,
.error,
.comment_error,
.alert.flash,
.actions a:hover,
.actions input:hover,
.actions a:focus,
.actions input:focus,
label.action:hover,
.action:hover,
.action:focus {
  border: none;
  box-shadow: none;
}

.listbox .index,
.dashboard .listbox .index,
form .notice,
form ul.notes,
form.verbose legend,
.verbose form legend,
.actions a,
.actions a:link,
.action,
.action:link,
input[type="submit"],
button,
.current,
.actions label {
  border: none;
  border-bottom: none;
  background-image: none;
  box-shadow: none;
}

#header .menu,
#small_login,
#header .dropdown:hover .current+.menu {
  box-shadow: none;
  background-image: none;
  filter: none;
}

/*CONTENT ICONS*/
ul.required-tags,
.bookmark .status span,
.blurb .icon {
  opacity: 1 !important;
}

img[src$="/images/skins/iconsets/default/icon_user.png"] {
  box-sizing: border-box;
  border: 1.5px solid #ddd;
  background: #5998d6 content-box;
  content: url("https://zerafinacss.github.io/ao3/icons/user-default-01.png");
}

.comment .icon .anonymous {
  box-sizing: border-box;
  border: 1.5px solid #00000025;
  background: url("https://zerafinacss.github.io/ao3/icons/anon-01.png"), 
    #6e6e6e border-box;
  background-size: cover;
}

.comment .icon .visitor {
  box-sizing: border-box;
  border: 1.5px solid #00000025;
  background: url("https://zerafinacss.github.io/ao3/icons/user-visitor-01.png"), 
    #6e6e6e border-box;
  background-size: cover;
}

img[src$="/images/skins/iconsets/default/icon_collection.png"] {
  box-sizing: border-box;
  border: 1.5px solid #00000025;
  background: linear-gradient(transparent, #ffffff50 45% 55%, transparent), 
    #616c90 border-box;
  content: url("https://zerafinacss.github.io/ao3/icons/collection-01.png");
}

.tagset .primary .icon,
.tag .primary .icon,
.index .tagset .icon {
  box-sizing: border-box;
  border: 1.5px solid #00000025;
  background: url("https://zerafinacss.github.io/ao3/icons/tag-01.png"), 
    linear-gradient(transparent, #ffffff50 45% 55%, transparent), 
    #5998d6 border-box;
  background-size: cover;
}

.index .mystery .icon {
  box-sizing: border-box;
  border: 1.5px solid #ddd;
  box-shadow: inset 0 0 0 3px #fff;
  background: url("https://zerafinacss.github.io/ao3/icons/anon-01.png"), 
    linear-gradient(transparent, #ffffff50 45% 55%, transparent) 
    #616c90 content-box;
  background-size: cover;
}

.admin .primary .icon {
  box-sizing: border-box;
  border: 1.5px solid #00000099;
  background: url("https://zerafinacss.github.io/ao3/icons/admin-01.png") 
    no-repeat,
    linear-gradient(#ffffff40, transparent) 
    #5998d6 border-box;
  background-size: cover;
}

.skins .primary .icon:not(:has(a .icon)),
.index .skins .icon:not(:has(a .icon)) {
  box-sizing: border-box;
  border: 1.5px solid #ddd;
  background: url("https://zerafinacss.github.io/ao3/icons/skins-01.png"), 
    #5998d6 border-box;
  background-size: cover;
}

#symbols-key dl img,
#bookmark-symbols-key img {
  width: 0 !important;
  height: 0 !important;
  padding: 25px 0 0 25px;
}

.blurb ul.required-tags li a > span,
.bookmark p.status a > span,
#symbols-key dl img,
#bookmark-symbols-key img {
  box-sizing: border-box;
  border: 1px solid;
  background-size: cover;
  background-origin: border-box;
}

.required-tags .rating-notrated,
.required-tags .category-none,
.required-tags .warning-no,
.status .count,
img[src$="/images/skins/iconsets/default/rating-notrated.png"],
img[src$="/images/skins/iconsets/default/category-none.png"],
img[src$="/images/skins/iconsets/default/warning-no.png"] {
  color: #00000040;
  background: #ffffffcc;
}

.required-tags .rating-general-audience,
img[src$="/images/skins/iconsets/default/rating-general-audience.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/rating-gen-01.png"), 
    #a79cc9;
}

.required-tags .rating-teen,
img[src$="/images/skins/iconsets/default/rating-teen.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/rating-teen-01.png"), 
    #8373b2;
}

.required-tags .rating-mature,
img[src$="/images/skins/iconsets/default/rating-mature.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/rating-mature-01.png"), 
    #574884;
}

.required-tags .rating-explicit,
img[src$="/images/skins/iconsets/default/rating-explicit.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/rating-explicit-01.png"), 
    #423663;
}

.required-tags .category-femslash,
img[src$="/images/skins/iconsets/default/category-femslash.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/category-ff-01.png"), 
    #8373b2;
}

.required-tags .category-het,
img[src$="/images/skins/iconsets/default/category-het.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/category-mf-01.png"), 
    #a79cc9;
}

.required-tags .category-gen,
img[src$="/images/skins/iconsets/default/category-gen.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/category-gen-01.png"), 
    #423663;
}

.required-tags .category-slash,
img[src$="/images/skins/iconsets/default/category-slash.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/category-mm-01.png"), 
    #574884;
}

.required-tags .category-multi,
img[src$="/images/skins/iconsets/default/category-multi.png"] {
  color: #0000001a;
  background: conic-gradient(from 270deg, #a79cc9 25%, #8373b2 25% 50%, #574884 50% 75%, #423663 75%);
}

.required-tags .category-other,
img[src$="/images/skins/iconsets/default/category-other.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/category-other-01.png"), 
    #211b31;
}

.required-tags .warning-choosenotto,
img[src$="/images/skins/iconsets/default/warning-choosenotto.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/warning-choosenotto-01.png"), 
    #a79cc9;
}

.required-tags .warning-yes,
img[src$="/images/skins/iconsets/default/warning-yes.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/warning-yes-01.png"), 
    #574884;
}

.required-tags .external-work,
img[src$="/images/skins/iconsets/default/warning-external-work.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/warning-external-work-01.png"), 
    #5998d6;
}

.required-tags .complete-no,
img[src$="/images/skins/iconsets/default/complete-no.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/complete-no-01.png"), 
    #8373b2;
}

.required-tags .complete-yes,
img[src$="/images/skins/iconsets/default/complete-yes.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/complete-yes-01.png"), 
    #423663;
}

.status .rec,
img[src$="/images/skins/iconsets/default/bookmark-rec.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/bookmark-rec-01.png"), 
    #8373b2;
}

.status .public,
img[src$="/images/skins/iconsets/default/bookmark-public.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/bookmark-public-01.png"), 
    #8373b2;
}

.status .private,
img[src$="/images/skins/iconsets/default/bookmark-private.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/bookmark-locked-01.png"), 
    #211b31;
  font-size: 0;
}

.status .private .text {
  background: none;
}

.status .hidden,
img[src$="/images/skins/iconsets/default/bookmark-hidden.png"] {
  color: #0000001a;
  background: url("https://zerafinacss.github.io/ao3/icons/bookmark-locked-01.png"), 
    #8373b2;
}

a.rss span {
  padding: 0;
  background: none;
}

.actions li a.rss {
  display: inline-flex;
  align-content: center;
  align-items: center;
  column-gap: 0.3em;
}

.actions li a.rss::before {
  box-sizing: border-box;
  width: 0.85em;
  height: 0.85em;
  border: 1px solid var(--icon-border1);
  border-radius: 2px;
  background: url("https://zerafinacss.github.io/ao3/icons/rss-01.png") 
     #e8689b;
  background-size: cover;
  content: "";
}

p.kudos {
  background: none;
}

div:has(> p.kudos)::before {
  position: absolute;
  width: 55px;
  height: 55px;
  background: url("https://zerafinacss.github.io/ao3/icons/kudos-01.png");
  background-size: cover;
  content: "";
  filter: invert(62%) sepia(14%) saturate(1799%) hue-rotate(172deg) brightness(90%) contrast(86%);
}

img[src$="/images/lockblue.png"] {
  content: url("https://zerafinacss.github.io/ao3/icons/lock-01.png");
  filter: brightness(0) saturate(100%) invert(72%) sepia(50%) saturate(3586%) hue-rotate(208deg) brightness(74%) contrast(81%);
}

#header .logo {
  content: url("/images/logo.png");
}
